.ctc {
    .header {
        padding-bottom: 15px;

        a {
            text-decoration: none;
        }

        img {
            max-height: 90px;
        }

        .info {
            padding-top: 10px;
        }
    }

    .nav-bar {
        padding-top: 25px;
        padding-bottom: 25px;
    }


    /* About */
    .about {}


    /* Contact */
    .contact {
        .day {
            float: left;
            width: 80px;
        }

        .links {
            margin-bottom: 15px;
        }

        .link {
            margin-right: 15px;

            &.twitter img {
                max-width: 32px;
            }

            &.yelp img {
                max-width: 29px;
            }
        }

        .map {
            iframe {
                border: 1px solid #ddd;
                border-radius: 4px;
                padding: 4px;
            }
        }
    }


    /* Gallery, Specials */
    .gallery, .specials {
        .thumbnail {
            cursor: pointer;
            height: 250px;

            .image-wrapper {
                max-height: 150px;
                overflow: auto;
            }

            .caption {
                padding: 3px 9px;
            }
        }
    }


    /* Home */
    .home {}


    /* Item */
    .item {
        .price-wrapper {
            margin-top: 10px;
            margin-bottom: 10px;

            .price {
                font-size: 18px;
                font-weight: 500;
            }
        }

        .stock {
            margin-top: 0;
        }
    }


    /* Login */
    .login {
        .btn-group {
            margin-bottom: 15px;
        }

        .badge {
            margin-left: 5px;
            background-color: #777;
        }

        .thumbnail {
            cursor: pointer;
        }

        .uploader {
            border: 1px dashed #ccc;

            .drop-area {
                padding: 10px;
                min-height: 100px;
            }

            .header {
                padding-bottom: 12px;

                i {
                    top: 2px;
                    padding-right: 2px;
                    font-size: 18px;
                }

                .btn-link {
                    padding-left: 0;
                    margin-top: -2px;
                }
            }

            .error-message {
                margin-bottom: 15px;
                white-space: pre;
            }

            .glyphicon-pencil {
                cursor: pointer;
                position: absolute;
                top: 10px;
                right: 25px;
                color: #fff;
            }
        }
    }
}

body {
    padding: 20px;
}

/* Item Edit */
.item-edit {
    .preview {
        .thumbnail {
            margin-bottom: 0;
        }
    }

    .btn-link {
        padding: 4px;
    }

    .checkbox {
        margin-left: -10px;
    }
}
