body {
    padding: 20px;
}

.header {
    padding-bottom: 15px;
}

.header a {
    text-decoration: none;
}

.header .info {
    padding-top: 10px;
}

.header .address .line1 {
    display: block;
}

.nav-bar {
    padding-top: 25px;
    padding-bottom: 25px;
}
