@ctc-yellow: rgb(255, 217, 102);
@ctc-gray: rgb(102, 102, 102);

.ctc {
    .header {
        padding-bottom: 15px;

        a {
            text-decoration: none;
        }

        img {
            max-height: 90px;
        }

        .info {
            color: @ctc-gray;
        }

        .btn-link {
            color: @ctc-gray;
            padding: 3px 8px;

            &:hover {
                color: @ctc-yellow;
            }

            &.yelp {
                padding-right: 3px;
            }
        }
    }

    .nav-bar {
        padding-top: 25px;
        padding-bottom: 25px;
    }


    /* About */
    .about {
        #cut {
            margin-top: 30px;
        }

        .image {
            background: url('/rsrc/images/shapes.jpg') no-repeat;
            width: 65px;
            height: 65px;

            &.asscher {
                background-position: -1px -95px;
            }

            &.cushion {
                background-position: -197px -95px;
            }

            &.emerald {
                background-position: -135px -7px;
            }

            &.heart {
                background-position: -135px -95px;
            }

            &.marquise {
                background-position: -259px -7px;
            }

            &.oval {
                background-position: -198px -7px;
            }

            &.pear {
                background-position: -323px -7px;
            }

            &.princess {
                background-position: -71px -7px;
            }

            &.radiant {
                background-position: -71px -95px;
            }

            &.round {
                background-position: -1px -7px;
            }

            &.trillion {
                background-position: -322px -95px;
            }
        }

        .shape-name {
            line-height: 65px;
        }
    }


    /* Contact */
    .contact {
        .day {
            float: left;
            width: 80px;
        }

        .links {
            margin-top: 10px;
            margin-bottom: 15px;

            .btn {
                padding: 3px 7px;
                margin-right: 10px;
                color: #fff;

                i {
                    top: 2px;
                    font-size: 16px;
                }

                &.facebook {
                    background-color: #3b5998;
                }

                &.twitter {
                    background-color: #1DA1F2;
                }

                &.yelp {
                    background-color: #D32323;
                }
            }
        }

        .map {
            iframe {
                border: 1px solid #ddd;
                border-radius: 4px;
                padding: 4px;
            }
        }
    }


    /* Gallery */
    .gallery {
        .nav-pills > li.active > a,
        .dropdown-menu > li.active > a {
            background-color: @ctc-gray;
        }

        .nav-pills > li,
        .dropdown-menu > li,
        .pager > li {
            cursor: pointer;
        }

        .dropdown {
            margin-top: -10px;
            margin-bottom: 10px;
        }
    }


    /* Home */
    .home {
        .carousel-img {
            margin: auto;
        }

        .carousel-control, .caption-text {
            cursor: pointer;
        }

        .carousel-indicators {
            li {
                margin: 2px;
            }
        }
    }


    /* Item */
    .item {
        .price-wrapper {
            margin-top: 10px;
            margin-bottom: 10px;

            .price {
                font-size: 18px;
                font-weight: 500;
            }
        }

        .stock {
            margin-top: 0;
        }
    }


    /* Login */
    .login {
        .filter {
            .btn {
                margin-right: 10px;
            }
        }
    }
}

/* Item */
.item {
    .main {
        margin-bottom: 0;
    }

    .image {
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .preview {
        cursor: pointer;
        width: 25%;
        height: 75px;
        display: inline-block;
        margin-bottom: -5px;

        &.active {
            border-color: @ctc-yellow;
        }
    }

    &.edit {
        .preview {
            cursor: move;
            position: relative;
        }

        .checkbox {
            margin-left: -10px;

            label {
                color: #333;
            }
        }

        .uploader {
            border: 1px dashed #ccc;

            .drop-area {
                padding: 10px;
                min-height: 100px;
            }

            .header {
                padding-bottom: 12px;

                i {
                    top: 2px;
                    padding-right: 2px;
                    font-size: 18px;
                }

                .btn-link {
                    padding-left: 0;
                    margin-top: -2px;
                }
            }

            .error-message {
                margin-bottom: 15px;
                white-space: pre;
            }

            .glyphicon-remove {
                cursor: pointer;
                position: absolute;
                top: 6px;
                right: 6px;
                color: #fff;
            }
        }
    }

    &.thumbnail {
        cursor: pointer;
        height: 300px;

        .image {
            height: 200px;
        }

        .caption {
            padding: 3px 9px;
        }
    }

    &.view {
        .images {
            margin-bottom: 15px;
        }
    }
}

body {
    padding: 20px;
}
