.ctc {
  /* About */
  /* Contact */
  /* Gallery */
  /* Home */
  /* Item */
  /* Login */
}
.ctc .header {
  padding-bottom: 15px;
}
.ctc .header a {
  text-decoration: none;
}
.ctc .header img {
  max-height: 90px;
}
.ctc .header .info {
  color: #666666;
}
.ctc .header .btn-link {
  color: #666666;
  padding: 3px 8px;
}
.ctc .header .btn-link:hover {
  color: #ffd966;
}
.ctc .header .btn-link.yelp {
  padding-right: 3px;
}
.ctc .nav-bar {
  padding-top: 25px;
  padding-bottom: 25px;
}
.ctc .about #cut {
  margin-top: 30px;
}
.ctc .about .image {
  background: url('/rsrc/images/shapes.jpg') no-repeat;
  width: 65px;
  height: 65px;
}
.ctc .about .image.asscher {
  background-position: -1px -95px;
}
.ctc .about .image.cushion {
  background-position: -197px -95px;
}
.ctc .about .image.emerald {
  background-position: -135px -7px;
}
.ctc .about .image.heart {
  background-position: -135px -95px;
}
.ctc .about .image.marquise {
  background-position: -259px -7px;
}
.ctc .about .image.oval {
  background-position: -198px -7px;
}
.ctc .about .image.pear {
  background-position: -323px -7px;
}
.ctc .about .image.princess {
  background-position: -71px -7px;
}
.ctc .about .image.radiant {
  background-position: -71px -95px;
}
.ctc .about .image.round {
  background-position: -1px -7px;
}
.ctc .about .image.trillion {
  background-position: -322px -95px;
}
.ctc .about .shape-name {
  line-height: 65px;
}
.ctc .contact .day {
  float: left;
  width: 80px;
}
.ctc .contact .links {
  margin-top: 10px;
  margin-bottom: 15px;
}
.ctc .contact .links .btn {
  padding: 3px 7px;
  margin-right: 10px;
  color: #fff;
}
.ctc .contact .links .btn i {
  top: 2px;
  font-size: 16px;
}
.ctc .contact .links .btn.facebook {
  background-color: #3b5998;
}
.ctc .contact .links .btn.twitter {
  background-color: #1DA1F2;
}
.ctc .contact .links .btn.yelp {
  background-color: #D32323;
}
.ctc .contact .map iframe {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
}
.ctc .gallery .nav-pills > li.active > a,
.ctc .gallery .dropdown-menu > li.active > a {
  background-color: #666666;
}
.ctc .gallery .nav-pills > li,
.ctc .gallery .dropdown-menu > li,
.ctc .gallery .pager > li {
  cursor: pointer;
}
.ctc .gallery .dropdown {
  margin-top: -10px;
  margin-bottom: 10px;
}
.ctc .home .carousel-img {
  margin: auto;
}
.ctc .home .carousel-control,
.ctc .home .caption-text {
  cursor: pointer;
}
.ctc .home .carousel-indicators li {
  margin: 2px;
}
.ctc .item .price-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}
.ctc .item .price-wrapper .price {
  font-size: 18px;
  font-weight: 500;
}
.ctc .item .stock {
  margin-top: 0;
}
.ctc .login .filter .btn {
  margin-right: 10px;
}
/* Item */
.item .main {
  margin-bottom: 0;
}
.item .image {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.item .preview {
  cursor: pointer;
  width: 25%;
  height: 75px;
  display: inline-block;
  margin-bottom: -5px;
}
.item .preview.active {
  border-color: #ffd966;
}
.item.edit .preview {
  cursor: move;
  position: relative;
}
.item.edit .checkbox {
  margin-left: -10px;
}
.item.edit .checkbox label {
  color: #333;
}
.item.edit .uploader {
  border: 1px dashed #ccc;
}
.item.edit .uploader.danger {
  border-color: #a94442;
}
.item.edit .uploader .drop-area {
  padding: 10px;
  min-height: 100px;
}
.item.edit .uploader .header {
  padding-bottom: 12px;
}
.item.edit .uploader .header i {
  top: 2px;
  padding-right: 2px;
  font-size: 18px;
}
.item.edit .uploader .header .btn-link {
  padding-left: 0;
  margin-top: -2px;
}
.item.edit .uploader .error-message {
  margin-bottom: 15px;
  white-space: pre;
}
.item.edit .uploader .glyphicon-remove {
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 6px;
  color: #fff;
}
.item.edit .uploader-error {
  color: #a94442;
}
.item.thumbnail {
  cursor: pointer;
  height: 300px;
}
.item.thumbnail .image {
  height: 200px;
}
.item.thumbnail .caption {
  padding: 3px 9px;
}
.item.view .images {
  margin-bottom: 15px;
}
body {
  padding: 20px;
}
