body {
    padding: 20px;
}

a {
    text-decoration: none;
}

.header {
    padding-bottom: 20px;
}

.info {
    padding-top: 10px;
}

.name {
    float: left;
}

.phone, .address {
    text-align: right;
}

.address .line1 {
    display: block;
}

.nav-bar {
    padding-top: 25px;
    padding-bottom: 25px;
}
