<div class="login" ng-controller="LoginController">
    <!-- Login -->
    <form class="form-horizontal" name="loginForm" ng-if="!isAuthenticated">
        <div class="form-group" ng-class="{'has-error': loginError}">
            <label class="col-sm-2 control-label" for="password">Password</label>
            <div class="col-sm-4">
                <input class="form-control" type="password" id="password" placeholder="Password" ng-model="password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <div class="btn btn-default" ng-click="authenticate(password)" ng-disabled="loginForm.$invalid">Submit</div>
            </div>
        </div>
    </form>

    <!-- Add Item -->
    <form name="itemForm" ng-if="isAuthenticated">
        <!-- Alert -->
        <div class="alert alert-{{alert.type}}" ng-bind="alert.message" ng-if="alert"></div>

        <div class="row">
            <!-- Image -->
            <div class="col-sm-3">
                <label>Image</label>
                <div class="thumbnail" ng-if="item.filename">
                    <a href="/images/items/{{item.filename}}" target="_blank"><img ng-src="/images/items/{{item.filename}}"></a>
                </div>
                <div class="form-group">
                    <div class="btn btn-default" ng-click="addImage()" ng-bind="item.filename ? 'Change Image' : 'Add Image'"></div>
                </div>
            </div>

            <div class="col-sm-6">
                <!-- Title -->
                <div class="form-group title">
                    <label for="title">Title</label>
                    <input id="title" class="form-control" type="text" placeholder="Title" required ng-model="item.title">
                </div>

                <!-- Description -->
                <div class="form-group description">
                    <label for="description">Description</label>
                    <textarea id="description" class="form-control" rows="6" placeholder="Description" required ng-model="item.description"></textarea>
                </div>
            </div>

            <div class="col-sm-3">
                <!-- Page -->
                <div class="form-group page">
                    <span>Add to:</span>
                    <div class="radio">
                        <label><input type="radio" ng-model="item.special" ng-value="false">Gallery</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" ng-model="item.special" ng-value="true">Specials</label>
                    </div>
                </div>

                <!-- Sites -->
                <div class="form-group sites">
                    <span>Publish to:</span>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="item.facebook">Facebook</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="item.twitter">Twitter</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-offset-9 col-sm-3">
                <div class="btn btn-primary btn-block add" ng-click="addItem(item)" ng-disabled="itemForm.$invalid">Add Item</div>
            </div>
        </div>
    </form>
</div>
