<div ng-controller="LoginController">
    <form name="login-form" ng-submit="authenticate(password)" ng-if="!isAuthenticated" novalidate>
        <label for="password">Password:</label>
        <input type="password" id="password" ng-model="password">
        
        <button type="submit">Submit</button>
    </form>

    <form name="add-item-form" ng-if="isAuthenticated" novalidate>
        <label for="item-no">Item Number:</label>
        <input type="text" id="item-no" ng-model="item.id">

        <label for="item-title">Title:</label>
        <input type="text" id="item-title" ng-model="item.title">

        <label for="item-description">Description:</label>
        <input type="text" id="item-description" ng-model="item.description">

        <label for="item-image">Image:</label>
        <button ng-file-select ng-model="item.file" multiple="true" accept="image/*" resetOnClick="false" ng-file-change="generateThumb(item.file)">Select</button>
        
        <button type="submit" ng-click="addItem(item)">Submit</button>
    </form>
</div>
