<div class="login add" ng-controller="LoginAddController as loginAdd">
    <div class="uploader">
        <div class="row">
            <div class="col-xs-12">
                <div class="drop-area" ngf-drop ngf-change="loginAdd.uploadFiles($files, $invalidFiles)" ngf-accept="'{{loginAdd.options.accept}}'" ngf-pattern="'{{loginAdd.options.accept}}'" ngf-multiple="{{loginAdd.options.multiple}}" ngf-allow-dir="{{loginAdd.options.allowDir}}" ngf-resize="{{loginAdd.options.ngf-resize}}">
                    <div class="header text-muted text-center">
                        <i class="glyphicon glyphicon-cloud-upload"></i>
                        <span>Drop files to attach, or </span>
                        <span class="btn btn-link" ngf-select ngf-change="loginAdd.uploadFiles($files, $invalidFiles)" ngf-accept="'{{loginAdd.options.accept}}'" ngf-pattern="'{{loginAdd.options.accept}}'" ngf-multiple="{{loginAdd.options.multiple}}" ngf-resize="{{loginAdd.options.resize}}">browse</span>
                    </div>
                    <div class="error-message text-danger" ng-bind="loginAdd.uploadError" ng-if="loginAdd.uploadError"></div>
                    <div class="row">
                        <div class="col-sm-2" ng-repeat="item in loginAdd.items">
                            <i class="glyphicon glyphicon-pencil" tooltip="Edit"></i>
                            <a class="thumbnail" ng-click="loginAdd.editItem($index, item)">
                                <img ng-src="{{item.image}}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
