<div class="contact" ng-controller="ContactController as contact">
    <div class="row">
        <div class="col-sm-6 contact-info">
            <div class="form form-horizontal">
                <div class="form-group">
                    <div class="col-xs-12" ng-bind="contact.description"></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"><label>Address:</label></div>
                    <div class="col-sm-9">
                        <div>San Francisco Jewelry Center</div>
                        <div ng-bind="contact.info.address.line1"></div>
                        <div>{{contact.info.address.city}}, {{contact.info.address.state}} {{contact.info.address.zip}}</div>
                        <div ng-bind="contact.info.address.line2"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"><label>Telephone:</label></div>
                    <div class="col-sm-9" ng-bind="contact.info.phone"></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"><label>Email:</label></div>
                    <div class="col-sm-9">
                        <a ng-href="mailto:{{contact.info.email}}" ng-bind="contact.info.email"></a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"><label>Hours:</label></div>
                    <div class="col-sm-9">
                        <div class="hour" ng-repeat="hour in contact.hours">
                            <span class="day" ng-bind="hour.day"></span>
                            <span class="time" ng-bind="hour.time"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 links">
                        <a class="link {{link.name | lowercase}}" ng-href="{{link.url}}" target="_blank" ng-repeat="link in contact.links"><img ng-src="{{link.icon}}" alt="{{link.name}}"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-center map">
            <iframe ng-src="{{contact.mapUrl}}" width="400" height="400" frameborder="0"></iframe>
        </div>
    </div>
</div>
