.contact .contact-table {
    margin: 20px 0;
}

.contact .contact-table td {
    vertical-align: top;
    padding-bottom: 10px;
}

.contact .field {
    width: 100px;
}

.contact .hours {
    padding-bottom: 3px;
}

.contact .hours-day {
    float: left;
    width: 70px;
}

.contact .links {
    margin-bottom: 20px;
}

.contact .links a {
    padding-right: 10px;
}

.contact .links .twitter img {
    max-width: 32px;
}

.contact .links .yelp img {
    max-width: 29px;
}

.contact .map iframe {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
}

@media screen and (min-width: 768px) {
    .contact .map {
        text-align: center;
    }
}
